.featured-pets {
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
    overflow: hidden; /* Ensure the container hides overflowing content */
    position: relative;
}

.featured-pets h2{
    font-size: 30px;
}

.pets-grid {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Prevent wrapping to maintain a single row */
    animation: slide 15s linear infinite;
}

.pets-grid .pet-card {
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    flex-shrink: 0; /* Prevent shrinking */
}

.pet-card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #7bd8de; 
    margin-bottom: 10px;
}

.pet-card h3 {
    color: #fb4e4e;
    font-size: 24px;
    margin-bottom: 10px;
}

.pet-card p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.pet-card button {
    padding: 10px 20px;
    border: gray;
    border-radius: 35px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.pet-card button:hover {
    background-color: whitesmoke;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
