.featured-pets {
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.featured-pets h2 {
    font-size: 30px;
}

.pets-container {
    overflow: hidden;
}

.pets-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    animation: scroll 60s linear infinite;
    width: max-content;
}

.pets-scroll-container {
    overflow: hidden;
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.pets-grid .pet-card {
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    flex-shrink: 0;
}

.pet-card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #7bd8de;
    margin-bottom: 10px;
}

.pet-card h3 {
    color: #fb4e4e;
    font-size: 24px;
    margin-bottom: 10px;
}

.pet-card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.pet-card button {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.pet-card button:hover {
    background-color: #f0f0f0;
}

.pet-status {
    color: white;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}

.status-new {
    background-color: #7bd8de;
}

.status-adopted {
    background-color: #6dc087;
}


.pet-info {
    font-size: 14px;
    color: #fb4e4e;
    margin-bottom: 5px;
}

.pet-description {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

.pets-grid:hover {
    animation-play-state: paused;
}