.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: relative;
    padding-left: 40%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    direction: rtl;
    width: 90%;
    background-color: white;
}

.SOS {
    color: red;
    font-weight: bold;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 80%;
    max-width: 1200px;
}

.navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-menu li {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    padding: 0 15px;
}

.navbar-menu li a {
    text-decoration: none;
    color: #333;
}

.navbar-menu li:hover {
    color: #7bd8de;
}

.navbar-menu li:hover .dropdown-menu {
    display: block;
    pointer-events: auto;
}

/* Dropdown Menu Styles */
.navbar-menu .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px 0;
    border-radius: 10px;
    min-width: fit-content;
    text-align: left;
    pointer-events: none;
}

.dropdown-menu li {
    padding: 10px 20px;
    white-space: nowrap;
    font-weight: normal;
    color: #333;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
    color: #333;
}

/* Header Content Styles */
.header-content {
    text-align: center;
    padding: 50px;
    color: #333;
    width: 70%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.header-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.header-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}

.header-image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 45%;
    height: 115%;
    margin-left: 3%;
    z-index: -1;
    overflow: hidden;
}

.header-image img {
    width: 120%;
    height: auto;
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%; 
    text-align: center;
}

.header-logo img {
    height: 120px;
    width: 120px;
    margin-bottom: 0;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse-animation {
    display: inline-block;
    animation: pulse 1.5s ease-in-out infinite;
}

.pulse-animation:hover {
    animation-play-state: paused;
}

/* Login button styles */
.login-button {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.login-button button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #333;
    font-weight: bold;
}

.icon-person {
    width: 24px;
    height: 26px;
    margin-left: 8px;
    stroke: currentColor;
    fill: none;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}


.login-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
}
